#!/bin/bash

# --------------------------------------------------------
# Create settings.cfg and updated your settings
# --------------------------------------------------------

# General settings
DISABLED=false			# Disable Script from run. Set to true to disable the backup
WRITE_CHANGES=false		# Test mode (no hard-disk writes). Set to true to actually save the backup
QUIET=false             # Set to true to silence all non-error output

# Backup Options
BACKUP_USERFILES=true			# Allow backing up files from the backuplistfile
BACKUP_MYSQL=true				# Allow backing up mysql from the listfile
BACKUP_COPIES=6					# Max number of backups to keep
BACKUP_DAILY_ONLY_ONCE=true		# Allow only one backup per day
BACKUP_REMOTELY=false    #Default is disabled, enable to backup to a remote windows host

# wrapper folder for all script files/folders.
# affecting this will recursivly change the folders for all following settings.
# ex. by default, backup destination is in folder /backup inside workdir.
workdir=/scripts/Centos-Backup-Script

# backup source settings
dblistfile=$workdir/lst/db.lst				# list of mysql database schemas to backup (1 per line)
backuplistfile=$workdir/lst/folders.lst	    # list of files to backup (1 per line)

# SQL settings
SQL_USER="user"					# MYSQL User
SQL_PASSWD="password"			# MYSQL Password
SQL_BACKUP_ALL=true             # If true, db.lst is overwritten with all MYSQL schemas, backing them all up

# Remote settings (cifs/smb)
REMOTE_HOST="192.168.0.7"
REMOTE_SHARE="backup"
REMOTE_USER="remoteuser"
REMOTE_PASS="remotepass"


# output settings
tempdir=$workdir/temp					# temporary folder
backupdir=$workdir/backup				# place for the .gz files
filename=backup-$(date +%Y%m%d).tgz	    # backup .tgz file-name
logdir=/var/log/backup                	# where to store log files
unmountremote=true    #if remote backup enabled, unmount remote directory on finish
showfsz=true							# Show df -h at end
